<aside class="C--social-media">
  <ul class="list">
    <li class="item">
      <a href="https://github.com/dnstld" target="_blank" rel="noopener" class="link" title="My GitHub account">
        {{fa-icon "github"}}
      </a>
    </li>
    <li class="item">
      <a href="https://twitter.com/dnstld" target="_blank" rel="noopener" class="link" title="My Twitter account">
        {{fa-icon "twitter"}}
      </a>
    </li>
    <li class="item">
      <a href="https://www.instagram.com/denistoledodev" target="_blank" rel="noopener" class="link" title="My Instagram account">
        {{fa-icon "instagram"}}
      </a>
    </li>
    <li class="item">
      <a href="https://www.linkedin.com/in/denistoledo" target="_blank" rel="noopener" class="link" title="My LinkedIn account">
        {{fa-icon "linkedin"}}
      </a>
    </li>
  </ul>
</aside>