<aside class="C--social-media">
  <ul class="list">
    <li class="item">
      <a href="https://github.com/dnstld" target="_blank" rel="noopener" class="link" title="My GitHub account">
        {{svg-jar "github" width="1rem"}}
      </a>
    </li>
    <li class="item">
      <a href="https://twitter.com/dnstld" target="_blank" rel="noopener" class="link" title="My Twitter account">
        {{svg-jar "twitter" width="1rem"}}
      </a>
    </li>
    <li class="item">
      <a href="https://www.instagram.com/denistoledodev" target="_blank" rel="noopener" class="link" title="My Instagram account">
        {{svg-jar "instagram" width="1rem"}}
      </a>
    </li>
    <li class="item">
      <a href="https://www.linkedin.com/in/denistoledo" target="_blank" rel="noopener" class="link" title="My LinkedIn account">
        {{svg-jar "linkedin" width="1rem"}}
      </a>
    </li>
  </ul>
</aside>