<aside class="C--social-media" data-test-social-media>
  <ul class="list">
    <li class="item">
      <a href="https://github.com/dnstld"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        title={{t "alt.github"}}
        data-test-social-media="github"
      >
        {{svg-jar "github" width="1rem"}}
      </a>
    </li>
    <li class="item">
      <a href="https://www.linkedin.com/in/denistoledo"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        title={{t "alt.linkedin"}}
        data-test-social-media="linkedin"
      >
        {{svg-jar "linkedin" width="1rem"}}
      </a>
    </li>
  </ul>
</aside>