.C--theme-toggle {
  background-color: var(--bg-primary);
  color: var(--color-primary);

  &.-transition,
  &.-transition *,
  &.-transition *:before,
  &.-transition *:after {
    transition: all 1s;
    transition-delay: 0;
  }
}