.C--theme-toggle {
  --bg-primary: #33333A;
  --bg-tools: #2C2C34;
  --color-primary: #f1f1f1;

  &[data-theme="light"] {
    --bg-primary: #f2f2f2;
    --bg-tools: #D4D4D4;
    --color-primary: #33333A;
  }
}