.R--application {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template: auto auto 1fr / 100%;
}

.R--application_topbar {
  display: flex;
  justify-content: center;
  background-color: var(--bg-tools);

  > .wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: .5rem 1rem;

    > .themebutton {
      font-size: $font-tiny;

      > label {
        &.off-label {
          padding-right: 0;
        }
        &.on-label {
          padding-left: .75rem;
        }
      }
    }
  }
}

.R--application_nav {
  display: flex;
  justify-content: center;

  > .list {
    display: inline-flex;
    justify-content: center;
    color: var(--color-primary);

    > .item {
      > .link {
        font-size: $font-small;
        display: block;
        padding: .75rem;
        user-select: none;

        &.-active {
          border-bottom: 2px solid palevioletred;
        }
        &:focus {
          outline: 1px dotted palevioletred;
        }

        @include for-tablet-portrait-up {
          font-size: $font-default;
        }
      }
    }
  }
}

.R--application_main {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex-wrap: wrap;
}