.R--index {
  display: grid;
  grid-template: auto auto / 100%;
  grid-row-gap: 3rem;
  grid-template-areas: "subject"
                       "info";
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  position: relative;

  @include for-tablet-landscape-up {
    grid-template: 1fr / auto 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0;
    grid-template-areas: "subject info";
    align-items: center;
  }
  > .cards {
    width: 100%;
  }
}

.R--index_subject {
  display: grid;
  grid-area: subject;
  grid-template: auto auto auto / 100%;
  grid-row-gap: 1rem;
  font-weight: 300;

  > .avatar {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    background-image: url(./images/avatar-denis-toledo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  > .header {
    text-transform: uppercase;

    > .name {
      display: inline-block;
      font-size: $font-large;
      padding-bottom: .75rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: .25rem;
        border-radius: .10rem;
        background-color: palevioletred;
      }
    }
  }
  > .phrase {
    font-weight: 700;
    font-size: $font-huge;
    font-weight: inherit;
    line-height: 120%;
    text-transform: uppercase;

    @include for-tablet-landscape-up {
      font-size: 2.5rem;
    }
  }
  > .contact {
    display: grid;
    font-size: $font-small;
    margin-top: 1rem;

    > .email,
    > .phone {
      display: flex;
      align-items: center;

      > .icon {
        color: palevioletred;
        margin-right: .5rem;
      }
    }
    > .actions {
      margin-top: 1rem;
      
      > .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        min-width: 0;
        line-height: 1.5;
        color: var(--color-primary);
        background-color: transparent;
        border-radius: .5rem;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        font-family: inherit;
        vertical-align: middle;
        letter-spacing: normal;
        padding: .5rem 1rem;
        margin: 0 .5rem 0 0;
        user-select: none;
        outline: none;
        box-shadow: none;
        white-space: nowrap;
        cursor: pointer;
        overflow: visible;
        color: #fff;
        
        &.-mail {
          background-color: #0991FF;
        }
        &.-phone {
          background-color: #68BF00;
        }
        &.-whatsapp {
          background-color: #1cb39b;
        }
    
        > .icon {
          flex-shrink: 0;
    
          &.-search {
            margin-right: .5rem;
          }
        }
      }
    }
  }
}

.R--index_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: info;
  grid-row-gap: 1.5rem;
  line-height: 150%;

  > .paragraph {
    font-weight: 300;

    @include for-tablet-landscape-up {
      padding: 0 1rem;
    }
  }
  > .quote {
    color: palevioletred;

    &.-bottom {
      margin-left: auto;
    }
  }
}