.R--index {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 2rem;
  position: relative;

  @include for-tablet-portrait-up {
    align-items: center;
  }
}

.R--index_main {
  display: grid;
  grid-template: auto auto / 100%;
  grid-row-gap: 2rem;
}

.R--index_content {
  width: 100%;

  @include for-tablet-landscape-up {
    display: flex;
  }
}

.R--index_data {
  display: grid;
  grid-template: auto auto auto / 100%;
  grid-row-gap: 1rem;
  text-transform: uppercase;
  font-weight: 300;

  > .avatar {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    background-image: url(./images/avatar-denis-toledo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  > .header {
    > .name {
      display: inline-block;
      font-size: $font-large;
      padding-bottom: .75rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: .25rem;
        border-radius: .10rem;
        background-color: palevioletred;
      }
    }
  }
  > .phrase {
    font-weight: 700;
    font-size: $font-huge;
    font-weight: inherit;
    line-height: 120%;

    @include for-tablet-landscape-up {
      font-size: 2.5rem;
    }
  }
}

.R--index_actions {
  display: flex;

  > .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 0;
    line-height: 1.5;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
    border-radius: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-family: inherit;
    vertical-align: middle;
    letter-spacing: normal;
    padding: .5rem 1rem;
    margin: 0;
    user-select: none;
    outline: none;
    box-shadow: none;
    white-space: nowrap;
    cursor: pointer;
    overflow: visible;

    &.-whatsapp {
      margin-left: .5rem;
      background-color: #1cb39b;
      color: #fff;
      border-color: #fff;
    }

    > .icon {
      flex-shrink: 0;

      &.-search {
        margin-right: .5rem;
      }
    }
  }
}