<section class="R--index">
  <header class="R--index_header">
    <h1 class="name">Denis Toledo</h1>
    <p class="phrase">Front-end developer with a taste for design</p>
  </header>

  {{!-- <footer class="R--index_footer">
    <button class="btn">See projects</button>
  </footer> --}}
</section>